    <div class="container pt-3 pt-md-5">
        <h1 class="display-4 text-center">{{i18n "faq.title"}}</h1>
        <p class="lead text-center">{{i18n "faq.subtitle"}}</p>
        <div class="content">
            <h2 class="display-5" id="termennetwerk">{{i18n "faq.sections.1.title"}}</h2>
            <h3 class="display-5">{{i18n "faq.sections.1.q1"}}</h3>
            <p>{{{i18n "faq.sections.1.a1"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.1.q2"}}</h3>
            <p>{{{i18n "faq.sections.1.a2"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.1.q3"}}</h3>
            <p>{{{i18n "faq.sections.1.a3"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.1.q4"}}</h3>
            <p>{{{i18n "faq.sections.1.a4"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.1.q5"}}</h3>
            <p>{{{i18n "faq.sections.1.a5"}}}</p>

            <h2 class="display-5" id="prototype">{{i18n "faq.sections.2.title"}}</h2>
            <h3 class="display-5">{{i18n "faq.sections.2.q1"}}</h3>
            <p>{{{i18n "faq.sections.2.a1"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.2.q2"}}</h3>
            <p>{{{i18n "faq.sections.2.a2"}}}</p>
            <h3 class="display-5">{{{i18n "faq.sections.2.q3"}}}</h3>
            <p>{{{i18n "faq.sections.2.a3"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.2.q4"}}</h3>
            <p>{{{i18n "faq.sections.2.a4"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.2.q5"}}</h3>
            <p>{{{i18n "faq.sections.2.a5"}}}</p>

            <h2 class="display-5" id="technology">{{i18n "faq.sections.3.title"}}</h2>
            <h3 class="display-5">{{i18n "faq.sections.3.q1"}}</h3>
            <p>{{{i18n "faq.sections.3.a1"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.3.q2"}}</h3>
            <p>{{{i18n "faq.sections.3.a2"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.3.q3"}}</h3>
            <p>{{{i18n "faq.sections.3.a3"}}}</p>
            <h3 class="display-5">{{i18n "faq.sections.3.q4"}}</h3>
            <p>{{{i18n "faq.sections.3.a4"}}}</p>
        </div>
    </div>
